.CsBodyRow {
  box-sizing: border-box;
  background-color: inherit;
  font-size: var(--cs-core-typography-font-size-1);
  font-weight: inherit;
  border-bottom: 1px solid var(--cs-table-border-color);
}

.CsBodyRow:hover {
  background-color: var(--cs-table-row-hover-color);
  transition: background-color 0.3s;
}

.Selected {
  background-color: var(--cs-table-row-selected-color);
}
