.buttonCore {
  color: var(--cs-core-typography-primary-color);
  background-color: var(--cs-core-palette-primary);
  font-family: inherit;
  font-size: var(--cs-core-typography-font-size-2);
  position: relative;
  max-width: 100%;
  border: none;
  cursor: pointer;
  transition: background-color 0.15s var(--cs-core-animation-timing-function-2) 0s, box-shadow 0.15s var(--cs-core-animation-timing-function-2) 0s;
  user-select: none;
  text-decoration: none;
  text-align: center;
  box-shadow: transparent 0px 0px 0px 1px inset;
  box-sizing: border-box;
  border-radius: 0.25rem;
  padding: var(--cs-core-spacing-md);
}

.buttonCore:hover {
  background-color: #cccccc;
  box-shadow: transparent 0px 0px 0px 1px inset;
}

.buttonCore:active {
  box-shadow: 0px 0px 3px 3px inset;
}

.buttonCore:disabled {
  color: #21212122;
  cursor: auto;
}

.sm {
  width: fit-content;  
  padding: 0.75rem 1rem;
}