.CsHeaderColumn {
  background-color: inherit;
  font-size: inherit;
  font-weight: inherit;
  vertical-align: middle;
  text-align:left;
  padding: var(--cs-core-spacing-sm) var(--cs-core-spacing-md);
  border-bottom: 1px solid var(--cs-table-border-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: capitalize;
}

.CsHeaderColumn:hover {
  background-color: var(--cs-table-row-hover-color);
}

.CsHeaderRow {
  height: var(--cs-table-row-height);
  box-sizing: border-box;
}
