:root {
  --cs-core-spacing-xs: 0.25rem;
  --cs-core-spacing-sm: 0.5rem;
  --cs-core-spacing-md: 0.75rem;
  --cs-core-spacing-lg: 1rem;
  --cs-core-spacing-xl: 1.25rem;

  --cs-core-typography-font-size-1: 0.75em;
  --cs-core-typography-font-weight-1: 300;
  --cs-core-typography-font-size-2: 1em;
  --cs-core-typography-font-weight-2: 400;
  --cs-core-typography-font-size-3: 1.5rem;
  --cs-core-typography-font-weight-2: 600;
  --cs-core-typography-primary-color: #212121;
  --cs-core-typography-secondary-color: #555555;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  font-size: var(--cs-core-typography-font-size-2);
  color: var(--cs-core-typography-primary-color);
}

.cs-core-align-center {
  margin: 0 auto;
  text-align: center;
}

.cs-core-hide-overflow {
  overflow: hidden;
}

.cs-core-margin-sm {
  margin: var(--cs-core-spacing-sm);
}

.cs-core-margin-md {
  margin: var(--cs-core-spacing-md);
}

.cs-core-margin-lg {
  margin: var(--cs-core-spacing-lg);
}

.cs-core-padding-sm {
  padding: var(--cs-core-spacing-sm);
}

.cs-core-padding-md {
  padding: var(--cs-core-spacing-md);
}

.cs-core-padding-lg {
  padding: var(--cs-core-spacing-lg);
}

.cs-core-padding-lg-vertical {
  padding: var(--cs-core-spacing-lg) 0;
}

@media screen and (max-width: 767px) {
  .cs-core-md-hidden {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .cs-core-lg-hidden {
    display: none;
  }
}
