.CsTable {
  --cs-table-row-height: 3rem;
  --cs-table-row-hover-color: rgba(0, 0, 0, 0.05);
  --cs-table-row-active-color: rgba(0, 0, 0, 0.1);
  --cs-table-row-selected-color: rgba(0, 0, 0, 0.15);
  --cs-table-border-color: #adadad;
}

.CsTable {
  box-sizing: border-box;
  border-collapse: collapse;
  margin: var(--cs-core-spacing-xs);
  width: var(--cs-table-width);
  height: var(--cs-table-height);
}

.DownloadImg {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: var(--cs-core-spacing-sm);
}
